

.button{
    display: inline-block;
    position: relative;
    height: 150px;
}
.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee;
}




/* @media screen and (max-width: 1280px){
	html {
		background-color: rgb(185, 185, 199);

	}
	
} */
  